<!doctype html>
<html xmnls:th ="http://www.thymeleaf.org" lang= "en">

  <head>
  	<title>SMS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link th:href="@{/images/favicon.ico}" rel="icon">
  	<link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" th:href="@{/vendor/fontawesome/all.min.css}" type='text/css'>


	<link rel="stylesheet" th:href="@{/css/style.css}">


	</head>
	<body>
	<section class="ftco-section">
    <div class = "Container">
       <div class="row justify-content-center"style="margin-top: 180px;">
        <div class="col-xl-8">
        	<h1 class="display-4 font-weight-bold mb-4"style="color:#fff;">STAFF MANAGEMENT SYSTEM</h1>
          <div class="d-flex justify-content-center">
          <a  th:href="@{/addStaff}" class="get-started-btn">Get Started</a></div>
        </div>
      </div>
    </div>

	</section>

	<script src="vendor/fontawesome/all.min.js"></script>
	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>
