<!doctype html>
<html xmnls:th ="http://www.thymeleaf.org" lang="en">
  <head>
  	<title>SMS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  	<link th:href="@{/images/favicon.ico}" rel="icon">
  	<link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" th:href="@{/vendor/fontawesome/all.min.css}" type='text/css'>


	<link rel="stylesheet" th:href="@{/css/style.css}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container-fluid">
	
			<div class="row">
                <div class="col-sm-4 col-12">
                    <div class="signup-content">
                        <form method="post" th:action="@{/addStaff}" th:object="${staff}" id="signup-form" class="signup-form" enctype="multipart/form-data">
                            <h2 class="form-title"style="margin-bottom: 20px; color:#3b4578;">Staff Reg-Form</h2>
								<!-- Add hidden form field -->	                            
                            	<input type="hidden" class="form-input"  th:field="*{id}" id="name" placeholder="LastName"/>
                            	<!--  <input type="hidden" class="form-input"  th:field="*{age}" id="name" placeholder="LastName"/> -->
                            <div class="form-group">
                                <input type="text" class="form-input"  th:field="*{lastName}" id="name" placeholder="LastName"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-input" id="name" th:field="*{firstName}" placeholder="FirstName"/>
                            </div>
                            <div class="form-group">
                            	<div class="row">
                            	<div class="col-sm-6">
	                                <select class="form-input" th:field="*{gender}">
	                                       <option value ="">Gender</option>
	                                      <option th:value="M" th:text="Male"></option>
	                                      <option  th:value="F" th:text="Female"></option>
	                                </select>
                                </div>
                                <div class="col-sm-6">
                                	<select class="form-input" th:field="*{status}">
                                      <option value ="">Status</option>
                                      <option th:value="FT" th:text="Full-Time"></option>
                                      <option th:value="PT" th:text="Part-Time"></option>
                                      <option th:value="OL" th:text="On_Leave"></option>
                                </select>
                                </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-input" th:field="*{dob}"name="dob" id="date" placeholder="Date Of Birth"
                                 max="2013-12-31" onfocus="(this.type='date')" onblur="this.type='text'"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-input" th:field="*{role}" name="role" id="role" placeholder="role"/>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-input" th:field="*{phoneNumber}"name="phoneNumber" id="tel" placeholder="Phone-number"/>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-input" th:field="*{email}" name="email" id="email" placeholder="Email"/>
                            </div>
                            <div class="form-group">
                                <input type="file" name ="image" class="form-input form-control form-control-sm image-preview-filepond"/>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" id="submit" class="form-submit" value="Save"/>
                            </div>
                        </form>
                  </div>
                </div>
				<div class="col-sm-8 col-12">
					<div class="table-wrap" style ="background-color:#fff; ">
						<table border = "1" class="table table-striped table-responsive-sm">
						  <thead class="text-center" >
						    <tr style="background-color:#6c757d;">
                 			  <th><i class="fas fa-tools"style="font-size:20px;"></i></th>
						      <th>Id</th>
						      <th> 1 <i class="fas fa-user-tag" style="font-size:20px;"></i></th>
						      <th> 2 <i class="fas fa-user-tag" style="font-size:20px;"></i></th>
						      <th>Sex</th>
			                  <th>Age</th>
			                  <th>Role</th>
			                  <th><i class="far fa-images" style="font-size:20px;"></i></th>
			                  <th><i class="fas fa-phone-square" style="font-size:20px;"></i></th>
						      <th><i class="fas fa-envelope-open-text" style="font-size:20px;"></i></th>
						      <th>Status</th>
						    </tr>
						  </thead>
						  <tbody class="text-center">
						    <tr th:each ="staff: ${staffs}">
			                  <th scope="row" style="font-size:20px;padding:0px,5px;">
			                   <a th:href="@{'/deleteStaff/'+ ${staff.id}}"><i class="far fa-trash-alt" style="color:#dc3545;"></i></a>&nbsp;
			                   <a th:href="@{'/updateStaff/'+ ${staff.id}}"><i class="far fa-edit"style="color:#17a2b8;"></i></a>&nbsp;
			                   <a th:href="@{'/staff/'+ ${staff.id}}"><i class="far fa-eye"></i></a>
			                  </th>
			                  <td th:text="${staff.id}"></td>
			                  <td th:text="${staff.firstName}"></td>
			                  <td th:text="${staff.lastName}"></td>
			                  <td th:text="${staff.gender}"></td>
			                  <td th:text="${staff.age}"></td>
			                  <td th:text="${staff.role}"></td>
			                  <th scope="row"><img alt="" th:src="${'/image/'+staff.id}"
                                		style ="max-width: 50px; max-height: 50px;"></th>
                              <td th:text="${staff.phoneNumber}"></td>
                              <td th:text="${staff.email}"></td>
                              <td th:switch="${staff.status}">
                              	<a href="#" th:case= "'FT'" class ="btn btn-success">Full-Time</a>
                              	<a href="#" th:case= "'PT'" class ="btn btn-warning">Part-Time</a>
                              	<a href="#" th:case= "'OL'" class ="btn btn-danger">On-Leave</a>
                              </td>
						    </tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script th:src="@{/vendor/fontawesome/all.min.js}"></script>
	<script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>

	</body>
</html>
